body {
  font-family: helvetica;
  margin: 0 0 0 0;
}

button {
  font-size: 80%;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
header .flex-nav .icon-hamburger {
  display: inline;
}
header .flex-nav .menu {
  display: none;
}

.intro {
  display: flex;
  flex-direction: column;
}
.intro .intro-image {
  display: flex;
  flex-direction: column;
  height: fit-content(100%);
  width: 100%;
  position: relative;
  margin-bottom: 10%;
}
.intro .intro-image img {
  width: 90%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
  z-index: 2;
}
.intro .intro-image .background-div {
  background-color: #5265E1;
  position: absolute;
  z-index: 1;
  top: 22%;
  right: 0%;
  width: 77%;
  height: 77%;
  border-radius: 30% 0 0 30%;
}
.intro .intro-text {
  margin: 30px;
  margin-bottom: 90px;
  text-align: center;
}
.intro .intro-text h1 {
  color: #242748;
}
.intro .intro-text p {
  color: #8f9095;
}
.intro .intro-text .blue-button {
  color: white;
  background-color: #5265E1;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  z-index: 3;
  box-shadow: 0 7px 5px 0 lightgrey;
  margin-right: 5px;
}
.intro .intro-text .grey-button {
  color: black;
  background-color: #f7f7f7;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  z-index: 3;
  box-shadow: 0 7px 5px 0 lightgrey;
}

.features {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px;
}
.features h2 {
  color: #242748;
  margin-bottom: 10px;
}
.features h3 {
  color: #242748;
  font-size: 120%;
}
.features p {
  color: #8f9095;
  margin-top: 0;
}
.features .features-buttons {
  display: flex;
  flex-direction: column;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 120%;
}
.features .features-buttons .button-div {
  border: 1px solid lightgrey;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.features .features-buttons .button-div .feat-button {
  background: none;
  border: none;
  height: 50px;
  margin-bottom: 2px;
}
.features .features-buttons .button-div .red-line {
  visibility: hidden;
  background-color: #FA5959;
  margin: auto;
  bottom: 0;
  width: 100px;
  height: 3px;
}
.features .features-buttons .button-div:hover .red-line {
  visibility: visible;
}
.features .tab-content {
  margin-top: 30px;
}
.features .tab-content [data-tab-content] {
  display: none;
}
.features .tab-content .active[data-tab-content] {
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
}
.info h2 {
  color: #242748;
  margin-bottom: 10px;
}
.info p {
  color: #8f9095;
  margin-top: 0;
}
.info .info-image {
  display: flex;
  flex-direction: column;
  height: fit-content(100%);
  width: 100%;
  position: relative;
  margin-bottom: 10%;
}
.info .info-image img {
  width: 85%;
  max-width: 570px;
  position: relative;
  margin: 0 auto;
  z-index: 2;
}
.info .info-image .background-div {
  background-color: #5265E1;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 0%;
  width: 77%;
  height: 100%;
  border-radius: 0 30% 30% 0;
}
.info .info-text {
  margin: 30px;
  margin-top: 50px;
  text-align: center;
}
.info .info-text button {
  display: none;
}

.download {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px;
}
.download h2 {
  color: #242748;
  margin-bottom: 10px;
}
.download h3 {
  color: #242748;
}
.download p {
  color: #8f9095;
  margin-top: 0;
}
.download .browsers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1200px;
  margin-bottom: 100px;
}
.download .browsers .browser-download {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 5px 5px lightgrey;
  border-radius: 7px;
  height: 350px;
}
.download .browsers .browser-download .browser-image {
  margin-top: 20px;
}
.download .browsers .browser-download button {
  color: white;
  background-color: #5265E1;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  z-index: 3;
  box-shadow: 0 7px 5px 0 lightgrey;
  margin-bottom: 30px;
}

.faqs {
  max-width: 500px;
  margin: 0 auto;
}
.faqs .text {
  margin: 30px;
  margin-bottom: 90px;
  text-align: center;
}
.faqs .text h2 {
  color: #242748;
  margin-bottom: 10px;
}
.faqs .text p {
  color: #8f9095;
  margin-top: 0;
}
.faqs .accordion-menu {
  display: grid;
  overflow: hidden;
  margin: 0 auto;
}
.faqs .accordion-menu h3 {
  color: #242748;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
}
.faqs .accordion-menu p {
  color: #8f9095;
  font-size: 15px;
  text-align: justify;
}
.faqs .accordion-menu .dropdown-box {
  display: grid;
  overflow: hidden;
  border-bottom: 1px solid lightgrey;
}
.faqs .accordion-menu .dropdown-box .dropdown-input {
  display: none;
  width: 0;
  height: 0;
}
.faqs .accordion-menu .dropdown-box .dropdown-header {
  background-color: white;
  padding: 10px;
  position: relative;
}
.faqs .accordion-menu .dropdown-box .dropdown-header::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #5265E1;
  right: 15px;
  top: 50%;
  clip-path: polygon(0 25%, 50% 50%, 100% 25%, 100% 50%, 50% 75%, 0 50%);
}
.faqs .accordion-menu .dropdown-box .dropdown-content {
  height: 0px;
  z-index: -5;
}
.faqs .accordion-menu .dropdown-box .dropdown-input:checked + label + .dropdown-content {
  transform: translateY(0);
  padding: 10px;
  height: auto;
}
.faqs .faqs-button {
  text-align: center;
  margin-top: 30px;
}
.faqs .faqs-button button {
  color: white;
  background-color: #5265E1;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  z-index: 3;
  box-shadow: 0 7px 5px 0 lightgrey;
}

@media (min-width: 769px) {
  header {
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
  }
  header .flex-nav .icon-hamburger {
    display: none;
  }
  header .flex-nav .menu {
    display: flex;
    margin: auto;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    font-size: 15px;
  }
  header .flex-nav .menu li a {
    color: #30303c;
    text-decoration: none;
  }
  header .flex-nav .menu li button {
    color: white;
    background-color: #FA5959;
    border: 0px;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    z-index: 3;
    box-shadow: 0 7px 5px 0 lightgrey;
    width: 120%;
  }
  .intro {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 100px;
  }
  .intro .intro-image {
    width: 700px;
    margin-top: 10%;
  }
  .intro .intro-image img {
    width: 600px;
    margin-right: 40px;
  }
  .intro .intro-image .background-div {
    top: 130px;
    width: 460px;
    height: 300px;
  }
  .intro .intro-text {
    display: block;
    text-align: left;
    width: 90%;
    margin: 0;
  }
  .intro .intro-text h1 {
    font-size: 300%;
  }
  .intro .intro-text p {
    font-size: 140%;
  }
  .intro .intro-text button {
    font-size: 120%;
  }
  .features {
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
  }
  .features h2 {
    font-size: 200%;
  }
  .features p {
    font-size: 140%;
  }
  .features .features-buttons {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    font-size: 130%;
  }
  .features .features-buttons .button-div {
    border: none;
  }
  .info h2 {
    color: #242748;
    font-size: 200%;
  }
  .info p {
    color: #8f9095;
    font-size: 140%;
  }
  .info .info-image {
    height: 100%;
    width: 50%;
  }
  .info .info-image img {
    width: 570px;
    margin-left: 20%;
  }
  .info .info-text {
    text-align: left;
    width: 50%;
    margin-right: 5%;
    margin-left: 16%;
  }
  .info .info-text button {
    display: block;
    color: white;
    background-color: #5265E1;
    border: 0px;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    z-index: 3;
    box-shadow: 0 7px 5px 0 lightgrey;
  }
  .download {
    margin-top: 200px;
  }
  .download h2 {
    font-size: 200%;
  }
  .download h3 {
    font-size: 170%;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .download p {
    font-size: 140%;
  }
  .download .text {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
  }
  .download .browsers {
    height: 900px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 30px;
    height: 500px;
  }
  .download .browsers .browser-download {
    width: 300px;
    height: 400px;
  }
  .download .browsers #chrome {
    align-self: flex-start;
  }
  .download .browsers #firefox {
    align-self: center;
  }
  .download .browsers #opera {
    align-self: flex-end;
  }
}
@media (min-width: 920px) {
  .intro {
    flex-direction: row-reverse;
  }
  .intro .intro-text {
    display: inline-block;
    text-align: left;
    width: 40%;
    margin-top: 0;
    margin-bottom: 15%;
    margin-right: 0;
    margin-left: 9%;
  }
  .intro .intro-text h1 {
    font-size: 300%;
  }
  .intro .intro-text p {
    font-size: 140%;
  }
  .intro .intro-text button {
    font-size: 120%;
  }
}
@media (min-width: 1000px) {
  .features {
    margin-left: 300px;
    margin-right: 300px;
  }
  .faqs {
    margin-top: 300px;
  }
}
@media (min-width: 1100px) {
  .info {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1400px) {
  .faqs {
    margin-top: 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
